<div class="row">
  <div class="column">
    <img
      [src]="data.IdService === 1 ? images[0] : images[1]"
      class="icon"
      alt="YouTrack image"
    >
	  <span [textContent]='data.IdService === 1 ? "GitLab" : "YouTrack"'></span>
  </div>
  <div class="column">email@example.com</div>
  <div class="column">{{ data.Description }}</div>
  <div
    class="column status"
    [class.status--success]="data.Status === logStatus.SUCCESS"
    [class.status--failure]="data.Status === logStatus.FAILURE"
  >{{ data.Status }}</div>
</div>
