\:host
	&:last-child .row
		border: none

.row
	display: grid
	grid-template-columns: 1fr 2fr 1fr 1fr
	grid-template-rows: minmax(2.5rem, auto)
	border-bottom: 1px solid #9FBEED
	padding: .6rem 3rem

	& > :first-child
		font-weight: 600

.icon
	width: 2rem
	object-fit: cover

.column
	align-self: center
	justify-self: center
	padding: .5rem
	color: #41495C

.status
	font-weight: 600

	&--success
		color: #84e26a

	&--failure
		color: #e24141
