$main-color: #3A3F6B
$border-radius: 2rem

.login
	min-height: 100vh
	display: flex
	align-items: center
	justify-content: center

	&__panel
		z-index: 3
		min-width: 22vw
		position: absolute
		color: $main-color

	&__title
		text-align: center
		font-weight: 600
		font-size: 1.6em
		margin: 0 0 3rem 0

	&__fields
		height: 100%
		display: flex
		flex-direction: column
		font-size: 1em

	&__input
		width: 100%
		padding: 1.2rem
		font-size: .8em
		background: white
		border-radius: $border-radius
		margin: 0 0 1rem 0
		color: $main-color
		box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07)

		&::placeholder
			color: #D0C9D6

	&__icon
		position: relative

		img
			position: absolute
			transform: translate(-140%, -60%)

	&__button
		padding: 1.2rem
		background: $main-color
		color: white
		border-radius: $border-radius
		margin-top: 1rem
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

	&__error
		align-self: center
		width: 80%
		padding: 0.5rem 3.5rem
		color: #FFD0D0
		background: rgba(230, 61, 61, 0.51)
		text-align: center
		border-radius: $border-radius

.background-image::before
	content: ""
	position: absolute
	z-index: 2
	width: 100%
	height: 100%
	-webkit-backdrop-filter: blur(7px)
	backdrop-filter: blur(7px)
	pointer-events: none
	background-color: rgba(255,255,255, 0.25)


.background-image
	height: 100vh
	width: 100%
	background: url(/assets/img/login_back.png) no-repeat center center
	position: absolute

	background-size: cover
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover

//@media screen and (max-width: 30rem)
//	.login
//		font-size: 0.6em
//
//@media screen and (min-width: 30rem)
//	.login
//		font-size: 1.2em
//		&__panel
//			min-width: 20rem
