<div class='login'>
	<div class='login__panel'>
		<header class='login__title'>
			<h1>LOGIN</h1>
		</header>
		<div [formGroup]='form' class='login__fields'>
			<input
				class='login__input'
				placeholder='Login'
				type='text'
				formControlName='login'
			>
			<div class='login__password'>
				<input
					class='login__input'
					placeholder='Password'
					[type]="hide ? 'password' : 'text'"
					formControlName='password'
				>
				<button
					class='login__icon'
					(click)="hide = !hide"
				>
					<img
						alt='eye-icon'
						src='/assets/img/eye.svg'
					>
				</button>
			</div>
			<div
				*ngIf='showError'
				[textContent]='errorMessage'
				class='login__error'
			>
			</div>
			<button
				[disabled]='isLoading'
				(click)='loginUser()'
				class='login__button'
			>
				Войти
			</button>
		</div>
	</div>
	<div class='background-image'></div>
</div>
