$c-dark-blue: #868395
$main-color: #3A3F6B
$c-light-blue: #BED1EF
$c-blue-border: #9FBEED

.container
	padding: 4rem

.header
	color: $main-color
	font-size: 2em
	font-weight: 500
	margin: 10vh 0 2rem 0
	text-align: center

.icon
	width: 2rem
	object-fit: cover

.top-panel
	display: flex
	margin: 0 0 1rem 0

	.refresh
		font-weight: 600
		display: flex
		align-items: center
		margin: 0 1.8rem 0 auto

		&__icon
			margin: 0 0 0 .4rem

.filters
	display: flex
	border-radius: 2rem
	border: 1px solid $c-light-blue
	overflow-x: hidden

	& > :not(:last-child):not(:first-child)
		border-right: 1px solid $c-light-blue
		border-left: 1px solid $c-light-blue

	&__item
		padding: 1.1rem 2rem

		&--active
			background-color: rgba(204, 225, 255, 0.5)
			color: #747F94

	& > :nth-child(2)
		padding: 1.1rem 3rem

.logs
	width: 100%
	display: flex
	flex-direction: column

	&__filter
		margin: 0 0 1rem 0

		label
			display: block

	&__table
		height: calc(100vh - 30vh - 8rem)
		display: flex
		flex-direction: column
		border: 1px solid $c-blue-border
		border-radius: 1rem
		box-shadow: 3px 6px 6px rgba(black, 0.04)
		overflow-x: hidden

		&__header
			display: grid
			font-weight: bold
			color: #1C1E29
			border-bottom: 1px solid $c-blue-border
			padding: 1rem 3rem
			grid-template-columns: 1fr 2fr 1fr 1fr
			grid-template-rows: minmax(2.5rem, auto)

		&__column
			align-self: center
			justify-self: center

		&__content
			overflow-y: auto
