<div class='container'>
	<header class='header'>
		<h1>LOGS</h1>
	</header>
	<section>
		<div class='top-panel'>
			<div class='filters'>
				<div
					(click)='getAllLogs()'
					[class.filters__item--active]='clicked == filter.All'
					class='filters__item'
				>ALL
				</div>
				<div
					(click)='getGitLAbLogs()'
					[class.filters__item--active]='clicked == filter.GitLab'
					class='filters__item'
				>GitLab
				</div>
				<div
					(click)='getYouTrackLogs()'
					[class.filters__item--active]='clicked == filter.YouTrack'
					class='filters__item'
				>YouTrack
				</div>
			</div>
			<div class='refresh'>
				<span>Обновить логи</span>
				<button>
					<img
						alt='refresh icon'
						class='refresh__icon'
						src='assets/img/replay.svg'
					>
				</button>
			</div>
		</div>

		<div class='logs'>

			<div class='logs__table'>
				<div class='logs__table__header'>
					<div class='logs__table__column'>Название сервиса</div>
					<div class='logs__table__column'>Пользователь</div>
					<div class='logs__table__column'>Описание операции</div>
					<div class='logs__table__column'>Статус</div>
				</div>
				<div class='logs__table__content'>
					<sync-row
						*ngFor='let log of logs$ | async'
						[data]='log'
					>
					</sync-row>
				</div>
			</div>
		</div>
	</section>
</div>
