$main-color: #3A3F6B

@font-face
	font-family: 'Inter'
	src: url('/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype')
	font-weight: 100 1000

*
	box-sizing: border-box
	margin: 0
	padding: 0
	border: 0
	font: inherit
	vertical-align: baseline
	font-family: Inter, sans-serif
	-webkit-user-select: none /* Safari */
	-webkit-touch-callout: none /* iOS Safari */
	-ms-user-select: none /* Internet Explorer/Edge */
	-moz-user-select: none /* Old versions of Firefox */
	user-select: none /* Non-prefixed version*/

body
	line-height: 1
	min-height: 100vh
	width: 100%
	background: white

ol, ul
	list-style: none

a
	text-decoration: none

button, a
	cursor: pointer
	color: inherit

button
	display: inline-block

textarea, input, button, a
	font: inherit
	background: none
	outline: none
	border: none
	-webkit-appearance: none

::-moz-focus-inner
	border: 0
